{% extends "base_dashboard.html" %}
{% set active = 'produce' %}
{% block title %}{% block produce_title %}Cenas Kitchen Produce Order Guide{% endblock %}{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='produce/styles.css') }}">
{% endblock %}
{% block page_title %}Produce Order Guide{% endblock %}
{% block page_subtitle %}{% block produce_subtitle %}{% endblock %}{% endblock %}
{% block content %}{% block produce_content %}{% endblock %}{% endblock %}
